- if current_user.admin?
  %h1 All Posts
- else
  %h1 My Posts
- if policy(resource_class).new?
  = link_to 'New Post', new_post_path
%table
  %tr
    - if current_user.admin?
      %th Author
    %th Title
    %th Options
  - resources.each do |resource|
    %tr
      - if current_user.admin?
        %td= resource.user.email
      %td= resource.title
      %td
        - if policy(resource).edit?
          = link_to 'Edit', [:edit, resource]
        - if policy(resource).destroy?
          = link_to 'Destroy', resource, method: :delete
